<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>İşaret Dili Tanıma</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
</head>
<body>
  <h1>Canlı İşaret Dili Tanıma</h1>
  <video id="video" autoplay></video>
  <p id="result">Sonuç bekleniyor...</p>
  <video id="videoPlayer" controls></video>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
